@import url('https://fonts.googleapis.com/css2?family=Foldit&family=Press+Start+2P&display=swap');

/* font-family: 'Foldit', cursive;
font-family: 'Press Start 2P', cursive; */
* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}


body {
    background-image: url(images/universebg.png);
    background-attachment: fixed;
    background-size: cover;
    overflow-x: hidden;
}


#head {
    font-family: 'Foldit', cursive;
    font-size: 7rem;
    text-align: center;
    margin-top: 40vh;
}

#circle
{
    position: relative;
    width: 560px;
    left: 0;
    opacity: 0;
    overflow-x: hidden;
}

#circle.animate__animated{
    opacity: 1;
    position: relative;
    width: 620px;
    margin-top: 60px;
    left: 27vw;
    opacity: 0;
    transform: rotateZ(20deg);
    overflow-x: hidden;
    
}


.slide{
    animation: slide 1  2s;
    transition: all cubic-bezier(1, 0, 0, 1) ;
}

@keyframes slide{
    0%{transform: translateY(0px);opacity: 0;scale: .3;}
    100%{transform: translateY(0px);opacity: 1;scale: 1;}
}

.FYI
{
    margin: auto;
    margin-top: 70px;
    position: relative;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 1000px;
    height: 200px;
    /* background-color: grey; */
    opacity: 0;
}

.FYI.animate__animated
{
    margin: auto;
    margin-top: 70px;
    position: relative;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 1000px;
    height: 250px;
    /* background-color: grey; */
    opacity: 1;
}

.FYI h1{
    font-family: 'Panchang', sans-serif;    
    color: #16FF00;
    font-size: 3em;
    text-shadow: 0px 0px 3px #FC2947;
    position: absolute;
    margin-bottom: 190px;
    /* animation: blink infinite 1s linear; */
}

@keyframes blink
{
    0%{text-shadow: 0px 0px 9px #8fe8f4;}
    20%{text-shadow: 0px 0px 9px #8fe8f4;}
    50%{text-shadow: none}
    60%{text-shadow: 0px 0px 9px #8fe8f4;}
    80%{text-shadow: none}
    100%{text-shadow: 0px 0px 9px #8fe8f4;}
}

/* .FYI p{
    color: white;
    font-family: 'Sentient', serif;
    font-size: 2.2em;
    text-align: center;
    transition: all ;
    /* padding-top: 100px; 
}*/


.FYI #element{
    color: white;
    font-family: 'Sentient', serif;
    font-size: 2.2em;
    text-align: center;
    transition: all ;
    /* padding-top: 100px; */
}


