*{
    padding: 0;
    margin: 0;
box-sizing: border-box;
}

body{
    overflow-x: hidden;
    background-image: url(images/universebg.png);
    background-size: cover;
}

#head h1
{
    font-family: 'New Title', serif;
    font-size: 3.9em;
    color: rgb(255, 255, 255);
    text-align: center;
    margin-top: 43vh;
}

#maa
{
    position: absolute;
    top: 85vh;
}

#maa img{
   
    display: block;
   margin: auto;
    width: 400px;
}